jupyter==1.0.0
jupyter-client==5.2.3
jupyterlab==0.35.4
Keras==2.2.4
matplotlib==3.0.2
more-itertools==4.3.0
networkx==2.2
numpy==1.15.3
pandas==0.23.4
PyYAML==3.13
scikit-learn==0.20.0
scipy==1.1.0
seaborn==0.9.0
simpy==3.0.11
https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-1.13.1-cp36-cp36m-linux_x86_64.whl
tqdm==4.25.0
typing==3.6.6
